{% extends 'base.html'%}
<!--title tag-->
{% block title %}
<title>Plasma-About</title>
{% endblock %}
{% block link %}
<link rel="stylesheet" href="./static/about.css">
<style>
 body{
 background-color: red;
 }
</style>
{% endblock %}
<!---About Content-->
{% block content %}
<div class="header">
 <div>Plasma Donor App</div>
 <ul>
 <li><a class="active" href="/login">Home</a></li> 
 </ul>
 </div><br><br><br>
<div class="container"><h1 class="heading">Know more about 
plasma</h1></div>
 <div class = "profile-area">
    <div class = "container">
        <div class="row">
        <div class = "col-12 col-md-6 col-lg-6">
        <div class = "card">
        <div class="img1">
            <img src="https://cdn.crispedge.com/0804f9.png"></div>
        <div class="img2">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree736885__480.jpg"></div>
        <div class = "main-text card-body">
        <h2 class="card-title">What is Plasma?</h2>
        <p class="card-body">Plasma is the pale yellowliquid part  of whole blood, in which the cellular 
       elements are suspended. It is enriched in proteins that help fight infection and aid the blood in clotting. AB 
       plasma is plasma collected from blood group AB donors. It isconsidered "universal donor" plasma because it is suitable 
       for all recipients, regardless of blood group.</p>
        </div>
        </div>
        </div>
        <div class = "col-12 col-md-6 col-lg-6">
        <div class = "card">
        <div class="img1">
            <img src="https://cdn.crispedge.com/0804f9.png"></div>
        <div class="img2">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree736885__480.jpg"></div>
        <div class = "main-text card-body">
        <h2 class="card-title">What is Plasmapheresis?</h2>
        <p class="card-body">Plasmapheresis is the standard procedure by which plasma is separated from whole 
       blood and collected. Blood flows through a single needle  placed in an arm vein, into a machine that contains a 
       sterile, disposable plastic kit. The plasma is isolated and channeled out into a special bag, and red blood cells and 
       other parts of the blood are returned to you through the same needle.</p>
 </div>
 </div>
 </div>
 <div class = "col-12 col-md-6 col-lg-6">
 <div class = "card">
 <div class="img1">
    <img src="https://cdn.crispedge.com/0804f9.png"></div>
 <div class="img2">
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree736885__480.jpg"></div>
 <div class = "main-text card-body">
 <h2 class="card-title">Is Plasmapheresis Safe?</h2>
 <p class="card-body">Absolutely. The machine and the procedure have been evaluated and approved by the 
Food and Drug Administration (FDA), and all plastics and needles coming into contact with you are used once and 
discarded. At no time during the procedure is the blood being returned to you detached from the needle in your arm, 
so there is no risk of returning the wrong blood to you.</p>
 </div>
 </div>
 </div>
 
 
 <div class = "col-12 col-md-6 col-lg-6">
 <div class = "card">
 <div class="img1">
    <img src="https://cdn.crispedge.com/0804f9.png"></div>
 <div class="img2">
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree736885__480.jpg"></div>
 <div class = "main-text card-body">
    <h2 class="card-title">How Long Does Plasmapheresis Take?</h2>
         <p class="card-body">Plasmapheresis procedures take about 40 minutes, but you should allow another 20  minutes for 
            staff to obtain your medical history. Every effort will be made to make the experience relaxing and enjoyable.</p><br><br><br>
         </div>
         </div>
         </div>
         <div class = "col-12 col-md-6 col-lg-6">
         <div class = "card">
         <div class="img1">
            <img src="https://cdn.crispedge.com/0804f9.png"></div>
         <div class="img2">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree736885__480.jpg"></div>
         <div class = "main-text card-body">
         <h2 class="card-title">How Do I Prepare to Donate Plasma?</h2>
         <p class="card-body">On the day of your plasma donation appointment, make sure that you get some rest and 
        have a healthy breakfast. You should drink lots of fluids, but avoid coffee, tea, and alcohol, as these drinks actually
        dehydrate you. Opt for water or juice instead. You should not eat anything oily or greasy before donating plasma since
        this can affect the quality of your plasma.</p>
         </div>
         </div>
         </div>
         <div class = "col-12 col-md-6 col-lg-6">
         <div class = "card">
         <div class="img1">
            <img src="https://cdn.crispedge.com/0804f9.png"></div>
        <div class="img2">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree736885__480.jpg"></div>
             <div class = "main-text card-body">
             <h2 class="card-title">Does donating plasma hurt?</h2>
             <p class="card-body">Donating plasma shouldn't hurt. Donating plasma should feel the same as a regular 
            blood donation. You might feel a stinging sensation when the needle is inserted, but after that, the staff will do its 
            best to make sure that you're comfortable throughout the donation process.</p><br><br>
             </div>
             </div>
             </div>
            <!---end of row--->
             </div>
             </div>
            </div>
            <script>
             window.watsonAssistantChatOptions = {integrationID: "a4a54435-5705-419d-b5d9-767874139af7",// The ID of this integration.
                region: "au-syd", // The region your integration is hostedin.
                serviceInstanceID:"f97e4971-479e-4408-82bf8ed101d52299", // The ID of your service instance. 
                onLoad:function(instance) { 
                    instance.render(); 
                }
             };
             setTimeout(function(){
             const t=document.createElement('script');
             t.src="https://webchat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
             document.head.appendChild(t);
             });
             </script><!--end chatbot-->
             {% endblock %}        